<%= form_with model: @recipe, local: true do |form| %>
 
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :desc %><br>
    <%= form.text_area :desc %>
  </p>
  
  <h3>Nutritional Information</h3>
  <%= form.fields_for :nutritional_information, @recipe.nutritional_information do |ni_form| %>
    <p>
      <%= ni_form.label :serving_size %><br>
      <%= ni_form.text_field :serving_size %>
    </p>
    <p>
      <%= ni_form.label :calories %><br>
      <%= ni_form.number_field :calories %>
    </p>
  <% end %>
 
  <p>
    <%= form.submit "Next" %>
  </p>
 
<% end %>
