<h1>RecipeShare</h1>
<strong>Your favourite source for recipes on the web!</strong>

<hr>

<br><strong><u>All Recipes:</u></strong>
<table>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= link_to 'View', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'New Recipe', new_recipe_path %>
<br>
<%= link_to 'Search Recipes by Ingredient', pages_search_path %>
<br>
<%= link_to 'Manage Ingredients', ingredients_path %>
