<h1>Search by Ingredient</h1>

<%= form_with(url: pages_search_path, method: "get", local: true) do %>
  <%= select_tag(:ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, @search_id)) %>
  <%= submit_tag("Search") %><br><br>
  
  <strong>Search Results:</strong>
  <table>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to 'View', recipe_path(recipe) %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br>
<%= link_to 'Back', recipes_path %>
